<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.ApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.Application" >
    <id column="application" property="application" jdbcType="INTEGER" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="time_begin" property="timeBegin" jdbcType="INTEGER" />
    <result column="time_end" property="timeEnd" jdbcType="INTEGER" />
    <result column="room_target1" property="roomTarget1" jdbcType="VARCHAR" />
    <result column="room_target2" property="roomTarget2" jdbcType="VARCHAR" />
    <result column="room_target3" property="roomTarget3" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="activity" property="activity" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="apply_date" property="applyDate" jdbcType="DATE" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="verify1" property="verify1" jdbcType="CHAR" />
    <result column="verify2" property="verify2" jdbcType="CHAR" />
    <result column="execute" property="execute" jdbcType="CHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByKey" parameterType="java.lang.Integer" >
    delete from application
    where application = #{application,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.Application" >
    update application
    set room_name = #{roomName,jdbcType=VARCHAR},
      `year` = #{year,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      `date` = #{date,jdbcType=DATE},
      time_begin = #{timeBegin,jdbcType=INTEGER},
      time_end = #{timeEnd,jdbcType=INTEGER},
      room_target1 = #{roomTarget1,jdbcType=VARCHAR},
      room_target2 = #{roomTarget2,jdbcType=VARCHAR},
      room_target3 = #{roomTarget3,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=INTEGER},
      activity = #{activity,jdbcType=VARCHAR},
      state = #{noticeState,jdbcType=INTEGER},
      media = #{media,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=CHAR},
      apply_date = #{applyDate,jdbcType=DATE},
      dept_id = #{dept_id,jdbcType=VARCHAR},
      verify1 = #{verify1,jdbcType=CHAR},
      verify2 = #{verify2,jdbcType=CHAR},
      `execute` = #{execute,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where application = #{application,jdbcType=INTEGER}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select application, room_name, `year`, term, `date`, time_begin, time_end, room_target1,
    room_target2, room_target3, `number`, activity, state, media, user_id, apply_date dept_id, verify1, verify2, `execute`, reason
    from application
    where application = #{application,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select application, room_name, `year`, term, `date`, time_begin, time_end, room_target1,
    room_target2, room_target3, `number`, activity, state, media, user_id, apply_date, dept_id, verify1, verify2, `execute`, reason
    from application
  </select>
  <select id="selectByRoomName" resultMap="BaseResultMap" >
    select application, room_name, `year`, term, `date`, time_begin, time_end, room_target1,
    room_target2, room_target3, `number`, activity, state, media, user_id, apply_date, dept_id, verify1, verify2, `execute`, reason
    from application
    where room_name =  #{roomName,jdbcType=VARCHAR}
  </select>
</mapper>