<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.ExamMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.Exam" >
    <id column="exam_id" property="examId" jdbcType="VARCHAR" />
    <id column="start_time" property="startTime" jdbcType="TIME" />
    <id column="end_time" property="endTime" jdbcType="TIME" />
    <result column="exam_name" property="examName" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="occupation_date" property="occupationDate" jdbcType="DATE" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="activity_num" property="activityNum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByKey" parameterType="map" >
    delete from exam
    where exam_id = #{examId,jdbcType=VARCHAR}
      and start_time = #{startTime,jdbcType=TIME}
      and end_time = #{endTime,jdbcType=TIME}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.Exam" >
    update exam
    set exam_name = #{examName,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      occupation_date = #{occupationDate,jdbcType=DATE},
      room_name = #{roomName,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      activity_num = #{activityNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=CHAR}
    where exam_id = #{examId,jdbcType=VARCHAR}
      and start_time = #{startTime,jdbcType=TIME}
      and end_time = #{endTime,jdbcType=TIME}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="map" >
    select exam_id, start_time, end_time, exam_name, course_name, year, term, occupation_date, 
    room_name, class_name, activity_num, user_id
    from exam
    where exam_id = #{examId,jdbcType=VARCHAR}
      and start_time = #{startTime,jdbcType=TIME}
      and end_time = #{endTime,jdbcType=TIME}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select exam_id, start_time, end_time, exam_name, course_name, year, term, occupation_date, 
    room_name, class_name, activity_num, user_id
    from exam
  </select>
</mapper>