<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.FlowMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.Flow" >
    <id column="flow_id" property="flowId" jdbcType="INTEGER" />
    <id column="flow_order" property="flowOrder" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByKey" parameterType="map" >
    delete from flow
    where flow_id = #{flowId,jdbcType=INTEGER}
      and flow_order = #{flowOrder,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.venues.lt.demo.model.Flow" >
    insert into flow (flow_id, flow_order, role_id, 
      description)
    values (#{flowId,jdbcType=INTEGER}, #{flowOrder,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.Flow" >
    update flow
    set role_id = #{roleId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where flow_id = #{flowId,jdbcType=INTEGER}
      and flow_order = #{flowOrder,jdbcType=INTEGER}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="map" >
    select flow_id, flow_order, role_id, description
    from flow
    where flow_id = #{flowId,jdbcType=INTEGER}
      and flow_order = #{flowOrder,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select flow_id, flow_order, role_id, description
    from flow
  </select>
</mapper>