<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.OccupationMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.Occupation" >
    <id column="occupation_id" property="occupationId" jdbcType="INTEGER" />
    <id column="worktime_id" property="worktimeId" jdbcType="INTEGER" />
    <result column="occupation_name" property="occupationName" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="occupation_date" property="occupationDate" jdbcType="DATE" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="activity_num" property="activityNum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByKey" parameterType="map" >
    delete from occupation
    where occupation_id = #{occupationId,jdbcType=INTEGER}
      and worktime_id = #{worktimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.venues.lt.demo.model.Occupation" >
    insert into occupation (occupation_id, worktime_id, occupation_name, 
      year, term, occupation_date, 
      room_name, activity_num, user_id
      )
    values (#{occupationId,jdbcType=INTEGER}, #{worktimeId,jdbcType=INTEGER}, #{occupationName,jdbcType=VARCHAR}, 
      #{year,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, #{occupationDate,jdbcType=DATE}, 
      #{roomName,jdbcType=VARCHAR}, #{activityNum,jdbcType=INTEGER}, #{userId,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.Occupation" >
    update occupation
    set occupation_name = #{occupationName,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      occupation_date = #{occupationDate,jdbcType=DATE},
      room_name = #{roomName,jdbcType=VARCHAR},
      activity_num = #{activityNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=CHAR}
    where occupation_id = #{occupationId,jdbcType=INTEGER}
      and worktime_id = #{worktimeId,jdbcType=INTEGER}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="map" >
    select occupation_id, worktime_id, occupation_name, year, term, occupation_date, 
    room_name, activity_num, user_id
    from occupation
    where occupation_id = #{occupationId,jdbcType=INTEGER}
      and worktime_id = #{worktimeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select occupation_id, worktime_id, occupation_name, year, term, occupation_date, 
    room_name, activity_num, user_id
    from occupation
  </select>
</mapper>