<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.Room" >
    <id column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="door_num" property="doorNum" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="room_manager" property="roomManager" jdbcType="CHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByKey" parameterType="java.lang.String" >
    delete from room
    where room_name = #{roomName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.venues.lt.demo.model.Room" >
    insert into room (room_name, floor, door_num, 
      capacity, status, area, 
      dept_id, building_id, room_manager, room_type
      )
    values (#{roomName,jdbcType=VARCHAR}, #{floor,jdbcType=TINYINT}, #{doorNum,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{area,jdbcType=BIT}, 
      #{deptId,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER}, #{roomManager,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.Room" >
    update room
    set floor = #{floor,jdbcType=TINYINT},
      door_num = #{doorNum,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      area = #{area,jdbcType=BIT},
      dept_id = #{deptId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      room_manager = #{roomManager,jdbcType=CHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
    where room_name = #{roomName,jdbcType=VARCHAR}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select room_name, floor, door_num, capacity, status, area, dept_id, building_id, 
    room_manager, room_type
    from room
    where room_name = #{roomName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select room_name, floor, door_num, capacity, status, area, dept_id, building_id, 
    room_manager, room_type
    from room
  </select>
</mapper>