<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.User" >
    <id column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="user_title" property="userTitle" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=CHAR},
      sex = #{sex,jdbcType=CHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      user_title = #{userTitle,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select user_id, user_name, password, id_number, sex, dept_id, user_title, `position`,
    phone, email, wechat, status
    from user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, user_name, password, id_number, sex, dept_id, user_title, `position`,
    phone, email, wechat, status
    from user
  </select>
</mapper>