<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.venues.lt.demo.mapper.WorkTimeMapper" >
  <resultMap id="BaseResultMap" type="com.venues.lt.demo.model.WorkTime" >
    <id column="worktime_id" property="worktimeId" jdbcType="INTEGER" />
    <result column="worktime_name" property="worktimeName" jdbcType="VARCHAR" />
    <result column="worktime_start" property="worktimeStart" jdbcType="TIME" />
    <result column="worktime_end" property="worktimeEnd" jdbcType="TIME" />
  </resultMap>
  <delete id="deleteByKey" parameterType="java.lang.Integer" >
    delete from work_time
    where worktime_id = #{worktimeId,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.venues.lt.demo.model.WorkTime" >
    update work_time
    set worktime_name = #{worktimeName,jdbcType=VARCHAR},
      worktime_start = #{worktimeStart,jdbcType=TIME},
      worktime_end = #{worktimeEnd,jdbcType=TIME}
    where worktime_id = #{worktimeId,jdbcType=INTEGER}
  </update>
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select worktime_id, worktime_name, worktime_start, worktime_end
    from work_time
    where worktime_id = #{worktimeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select worktime_id, worktime_name, worktime_start, worktime_end
    from work_time
  </select>
</mapper>